body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  justify-content: center;
  min-height: 100vh;
  background-color: #ebeef1;
}

.timeContainer {
  display: grid;
  place-content: center;
  height: 12rem;
  width: 30rem;
  font-size: 4rem;
  border-radius: 1.5rem;
  background-color: #ebeef1;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
  -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  color: #22eb68;
}

.stopwatch {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 12px 1.5rem;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0 10px;
  border: 0.5px solid #e6e6e7;
  font-weight: 550;
  color: #ed0000;
  background-color: #ebeef1;
  box-shadow: 5px 10px 10px -1px rgba(10, 99, 169, 0.16),
  inset -10px -10px 10px -1px rgba(253, 246, 246, 0.7);
}

#time {
  margin: 0 20px;
}
